.fluid-card-img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.favorite-active {
    color: red;
}
.favorite-inactive{
    color: grey;

}


/* star-rating.component.css */
.star {
    cursor: pointer;
    color: gold;
    font-size: 30px;
}
.star.not-filled {
    color: grey;
}