<div class="container-fluid text-center border">
    <div class="row p-5 gy-4 row-cols-1 row-cols-lg-2">
        <div class="col">
            <div class="card text-start">
                <div class="card-img-top p-3">
                    <div class="card text-end">
                        <img src ="{{shopLocation.imageUrl}}" class="fluid-card-img" alt="...">
                        <div class="card-img-overlay">
                            <button *ngIf="curUserId !== ''" mat-fab class="bg-light" (click)="favButtonClick.next()">
                                <mat-icon [ngClass]="{'favorite-active': isFavorite, 'favorite-inactive': !isFavorite}">favorite</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{shopLocation.name}}</h2>
                    <p class="card-text fs-5">{{shopLocation.address}}</p>
                    <p *ngIf="curUserId == ''">Login to favorite or leave a review &#x2B50;</p>
                    <!-- Button trigger modal -->
                    <button *ngIf="curUserId !== ''" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Review
                    </button>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <google-map 
                [center]="shopCoords">
                <map-marker [position]="shopCoords"></map-marker>
            </google-map>
        </div>
    </div>
    <div class="contianer-fluid mb-5 text-start card mx-5 p-3 border border-primary">
        <h2 class="card-title">Reviews</h2>
        <div *ngIf="reviews.length==0" class="card col-4">
            <div class="card-body">
                <span>
                    <p class="card-text">No reviews yet. Be the first to review this coffee shop!</p> 
                    <!-- <mat-icon >rate_review</mat-icon>  -->
                </span>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 gy-2">
            <div *ngFor="let review of reviews" class="col">
                <div class="card h-100 text-start">
                    <div class="row g-0">
                        <div class="col-md-4 text-center p-1">
                            <div class="container h-100 d-flex flex-column justify-content-center">
                                <div class="container mb-2">
                                    <img src={{review.pfp}} class=" fluid-pfp-img rounded-circle " alt="...">
                                </div>
                                <div class="container">
                                    <span>
                                        <span class="star" *ngFor="let star of getRewiewRatingArray(review.rating)">
                                            <mat-icon class="text-warning">star</mat-icon>
                                        </span>
                                    </span>
                                    <p class="card-text"><small class="text-body-secondary">{{formatDate(review.date)}}</small></p>    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body container">
                                <h5 class="card-title text-capitalize">{{review.displayName}}</h5>
                                <p class="card-text" [ngClass]="{'text-truncate-container': isCollasped}">{{review.review}}</p>
                                <button class="btn btn-sm btn-primary" (click)="toggleCollapse()">
                                    {{ isCollasped ? 'Read More' : 'Collaspse' }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticLabel">Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- star-rating.component.html -->
              <div class="star-rating">
                  <!-- Each star checks if its value is greater than rating. If it is, the not-filled class is applied, making it grey; otherwise, it remains gold. -->
                  <span class="star" *ngFor="let star of stars" [class.not-filled]="star > rating" (click)="setRating(star)">&#9733;</span>
                  <form [formGroup]="applyForm" (submit)="submitReview()">        
                      <label for="Review" class="form-label">Tell Us What You Think</label>
                      <textarea class="form-control" id="Review" rows="5" formControlName="Review"></textarea>                    
                      <div class="modal-footer mt-3">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)='applyForm.reset(); resetRating();'>Close</button>
                          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
  </div>