<div class="container-fluid text-center">
    <div class="row p-5 row-cols-1 row-cols-lg-2">
        <div class="col">
            <div class="card">
                <div class="text-end pe-3">
                    <button class="heart-button" onclick="this.classList.toggle('clicked')"></button>
                </div>
                <img [src]="shopLocation?.imageUrl" class="card-img-top px-3 fluid-card-img" alt="...">
                <div class="card-body text-start">
                    <h2 class="card-title">{{shopLocation?.name}}</h2>
                    <p class="card-text fs-5">{{shopLocation?.address}}</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#static">Review</button>
            </div>
              </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <google-map [center]="shopCoords">
            <map-marker [position]="shopCoords"></map-marker>
            </google-map>
        </div>
    </div>
</div>


<!-- Modal # lets us refrence the modal for viewchild -->
<div class="modal fade" id="static" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true" #reviewModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticLabel">Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- star-rating.component.html -->
            <div class="star-rating">
                <!-- Each star checks if its value is greater than rating. If it is, the not-filled class is applied, making it grey; otherwise, it remains gold. -->
                <span class="star" *ngFor="let star of stars" [class.not-filled]="star > rating" (click)="setRating(star)">&#9733;</span>
                <form [formGroup]="applyForm" (submit)="submitReview()">        
                    <label for="Review" class="form-label">Tell Us What You Think</label>
                    <textarea class="form-control" id="Review" rows="5" formControlName="Review"></textarea>                    
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>