<!-- <div class="container__100h__navbar border-test"> -->

<div class="container-fluid">
    <div class="row d-flex mt-4">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <div class="details-card-container">
                <div class="card">
                    <figure>
                    <img [src]="shopLocation?.imageUrl" class="card-img-top shop-details-photo" alt='image of a coffee shop'>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{{shopLocation?.name}}</h2>
                        <p class="card-text">{{shopLocation?.address}}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#static">Review</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mx-auto">
            <!-- <google-map
                [center]="location">
                <map-marker
                    [position]="location"/>
            </google-map> -->
        </div>
    </div>
</div>
<div class="details-card-container">
    <div class="card">
        <ul>
            <li class="text" *ngFor="let item of items$ | async">
              {{item.name}}
            </li>
          </ul>          
    </div>
</div>

<!-- Modal # lets us refrence the modal for viewchild -->
<div class="modal fade" id="static" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true" #reviewModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticLabel">Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- star-rating.component.html -->
            <div class="star-rating">
                <!-- Each star checks if its value is greater than rating. If it is, the not-filled class is applied, making it grey; otherwise, it remains gold. -->
                <span class="star" *ngFor="let star of stars" [class.not-filled]="star > rating" (click)="setRating(star)">&#9733;</span>
                <form [formGroup]="applyForm" (submit)="submitReview()">        
                    <label for="Review" class="form-label">Tell Us What You Think</label>
                    <textarea class="form-control" id="Review" rows="5" formControlName="Review"></textarea>                    
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>

