<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col">
            <h3 class="fw-bold">Welcome to our blog channel!</h3>
        </div>
        <div class="col text-end">
            <a *ngIf="authService.authState$ | async" routerLink="/writeABlog"  class="btn btn-primary">Write A Blog</a>
            <!-- <button *ngIf="authService.authState$ | async" class="btn btn-primary">Create A Blog</button> -->
        </div>
    </div>
    <h1 class="display-3 fw-bold">Explore, Espress, and Discover</h1>
</div>
<div class="container-fluid ps-5 pe-5">
    <div class="row row-cols-1 row-cols-lg-3 gy-4">
        <div class="col" *ngFor="let blog of blogs$ | async">
            <div class="card h-100">
                <div class="card-img-top-container">
                    <img class="card-img-top" src="{{blog.headerImageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <a [routerLink]="['/blogPost', blog.blogId]" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>


