<div class="container-fluid text-center text-lg-start mt-4 mt-md-5 mt-lg-3 mb-3 ">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col col-lg-10 order-lg-1 ">
            <h3 class="fw-bold px-2 ">Welcome to our blog channel!</h3>
        </div>
        <div class="col col-lg-10 order-lg-3 ">
            <h1 class="display-3 fw-bold px-2 ">Explore, Espress, and Discover</h1>
        </div>
        <div class="col col-lg-2 mb-2 order-lg-2 text-lg-end pe-lg-5 ">
            <a *ngIf="authService.authState$ | async" routerLink="/writeABlog"  class="btn btn-primary">Write A Blog</a>
            <!-- <button *ngIf="authService.authState$ | async" class="btn btn-primary">Create A Blog</button> -->
        </div>
    </div>
</div>
<div class="container-fluid px-4 px-lg-5 pb-3">
    <div class="row row-cols-1 row-cols-lg-3 gy-4">
        <div class="col" *ngFor="let blog of blogs$ | async">
            <div class="card h-100">
                <div class="card-img-top p-2">
                    <img class="fluid-img" src="{{blog.headerImageUrl}}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <a [routerLink]="['/blogPost', blog.blogId]" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>


