<div class="container mt-3 mb-3">
    <h4 class="fw-bold">Welcome to our blog channel!</h4>
    <h1 class="display-3 fw-bold">Explore, Espress, and Discover</h1>
</div>
<div class="container-fluid ps-5 pe-5">
    <div class="row row-cols-1 row-cols-lg-3 gy-4">
        <div class="col" *ngFor="let blog of blogs$ | async">
            <div class="card h-100">
                <div class="card-img-top-container">
                    <img class="card-img-top" src="\assets\img\coffe-cups.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">{{blog.content}}</p>
                    <a href="blogPost" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>


