<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="container">
        <img src="assets\img\logos\logoRe2-cropped.svg" alt="Logo" height="50" width="200" class="d-inline-block align-text-top img-fluid test1"> 
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">   
          <a class="nav-link active" href="blogs">Blogs</a>
        </li>
        <li class="nav-item">   
          <a class="nav-link active" href="blogPost">Blog Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="blogList">BlogList</a>
        </li>
      </ul>

      <button *ngIf="!(authService.authState$ | async)" class="btn btn-secondary me-3" type="button" routerLink="/login"> Sign In</button>
      <button *ngIf="!(authService.authState$ | async)" class="btn btn-primary me-5" type="button" routerLink="/register" > Sign Up</button>
      <a href="profile" class="rnd-container me-2">
        <img src="\assets\img\pfp.webp" alt="profile picture" class="pfp-img">
      </a>
      <button *ngIf="authService.authState$ | async" class="btn btn-primary me-5" (click)="authService.logout()">Logout</button>
    
    </div>
  </div>
</nav>