<div class="container-fluid">
    <div class="container text-left">
        <h5>Blog Posts</h5>
        <h1 class="display-3 fw-bold">Explore, Express, and Discover </h1>
        <h2 class="subtitle">subtitle here</h2>
    </div>
    <div class="row">
        <div class="col-sm-4" *ngFor="let i of [1,2,3]">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title {{i}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="blogPost" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>