/* .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 20px 5px; 
    margin: 20px 0 0 80px;
  } */
.border-test{
  border: solid red 2px;
}
.border-test2{
  border: solid green 2px;
}