/* .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 20px 5px; 
    margin: 20px 0 0 80px;
  } */
.border-test{
  border: solid red 2px;
}
.border-test2{
  border: solid green 2px;
}
.card-img-top-container {
  height: 300px; /* Fixed height for the image */
  overflow: hidden; /* Ensures the image doesn't exceed the container */
}
/* I want to use media quieres to fix then on a smaller screen */
.card-img-top {
  width: 100%; /* Full width of the container */
  height: auto;
  object-fit: cover; /* Ensures the image covers the container without stretching */
  object-position: center; /* Centers the image */
}