 <!-- 
  This is the div the contains the map class we pass to initMap();
  we declare it outside of the apiloader because we need to access
  the map object if we dont have access to it it will return an error
-->
<!-- In your component's template -->
<div id="map"></div>

<div *ngIf="!display" class="text-center m-5">
  <span class="display-5 me-1">loading...</span>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="display">
 <div class="my-container py-4 overflow-hidden">
   <div class="row row-cols-1 px-3 row-cols-lg-3 gx-4 gy-4">
     <app-shop-location *ngFor="let shopLocation of shopLocationList" [shopLocation]="shopLocation" class="col h-100"></app-shop-location>
   </div>
 </div>
</div>