.card{
    width: 100%;
    border-radius: 10px;
    border: 0cap;
}

.shop-photo{
    max-height: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
.test{
    opacity: .7;
}

.card-img-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
}