<div *ngIf="!isLoaded" class="container align-items-center justify-content-center d-flex m-5">
    <div class="spinner-border spinner-border-xl" aria-hidden="true"></div>
</div>
<div *ngIf="isLoaded" class="container mt-4 align-items-center">
  <div class="card text-center match-bg ">
    <div class="container border py-2 d-flex justify-content-center">
      <img src={{userProfile.pfp}} alt="temp holds" class="pfp-img rounded-circle img-fluid border border-light border-4" >
   </div>
    <div class="card-body">
      <h1 class="card-title text-capitalize">{{userProfile.userName}}</h1>
      <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
      <p class="card-text mb-5 fs-4">{{userProfile.bio}}</p>
      <!-- Button trigger modal -->
      <button class="btn btn-primary position-absolute top-0 end-0 me-3 px-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
    </div>
  </div>
</div>
<div *ngIf="isLoaded" class="container-fluid bg-test">
  <div class="container-fluid ps-5 pe-5 pt-3">
  <!-- This is the scrolling bar Favorite Coffee Shops -->
    <h1 class="mb-2">Favorite Coffee Shops</h1>
    <div class="card text-center p-3">
      <div *ngIf="favCoffeeShopsList.length == 0">
        <p class="card-text mb-1">You havent added any coffee shops to your favorites yet.</p>
      </div>
      <div class="row row-cols-1 row-cols-lg-3 gx-3 d-flex flex-nowrap overflow-auto horizontal-scroll">
        <div class="col" *ngFor="let shop of favCoffeeShopsList">
          <div class="card h-100 mb-1">
            <img src="{{shop.imageUrl}}"  loading="lazy" class="card-img-top fluid-img" alt="..." >
            <div class="card-body">
              <h5 class="card-title">{{shop.name}}</h5>
              <p class="card-text">{{shop.address}}</p>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4 d-flex align-items-center">
      <div class="row mb-5">
        <div class="col">
          <h1 class="ps-2">
            Blogs
          </h1>
          <div class="container">
            <div *ngIf="authoredBlogs.length==0" class="card">
              <div class="card-body">
                <span>
                    <p class="card-text">You havent written any blogs yet.</p>
                </span>
            </div>
            </div>
            <div class="card">
              <ul class="list-group list-group-flush border-0">
                <li *ngFor="let blog of authoredBlogs" class="list-group-item">
                  <div class="card mb-2 mt-2">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{blog.headerImageUrl}}"  loading="lazy" class="img-fluid rounded-start h-100" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{blog.title}}</h5>
                          <!-- <p class="card-text">Should this be like a summary of the blog? or should i just not include it?</p> -->
                          <p class="card-text"><small class="text-body-secondary">{{blog.date}}</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col ">
          <h1 class="ps-2">
            Favorite Drinks
          </h1>
          <div class="container">
            <div class="card">
              <ul class="list-group list-group-flush border-0">
                <li class="list-group-item">
                  <div class="card mb-2 mt-2">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://firebasestorage.googleapis.com/v0/b/coffee-realm.appspot.com/o/assets%2Fhome%2Fnathan-dumlao-unsplash.jpg?alt=media&token=6934cd77-2b71-43bc-a8e4-22613186e3e8" class="fluid-img h-100" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Coming Soon</h5>
                            <h6 class="card-subtitle text-body-secondary fst-italic ps-1">From Larem Ipsum</h6>
                            <p class="card-text fst-italic fw-lighter ps-1">Lorem ipsum dolor sit amet</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Update Profile</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Start of form -->
      <!-- This form uses an template variables they are pretty neat -->
      <!-- https://angular.io/guide/template-reference-variables -->
      <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
      <div class="modal-body">
        <div class="container mt-2">
              <!-- Profile Picture Input -->
              <div class="mb-3">
                <label for="profilePicture" class="form-label">Profile Picture</label>
                <input type="file" (change)="onFileSelect($event)" class="form-control" id="profilePicture" accept="image/png, image/jpeg, image/gif " >
                <div *ngIf="pfpErrorMessage" class="text-danger">{{ pfpErrorMessage }}</div>
              </div>
              <!-- Bio Input -->
              <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <textarea [(ngModel)]="updateProfile.bio" name="bio" class="form-control" id="bio" rows="4" maxlength="300"
                  placeholder="Maxium Length 300 Characters" >
                </textarea>
                <div *ngIf="bioErrorMessage" class="text-danger">{{ bioErrorMessage }}</div>
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Profile</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- End Of Modal -->