<div class="container mt-4 border border-black d-flex flex-column align-items-center">
    <img src="/assets/img/pfp.webp" alt="profile picture" class="pfp-img">
    <div class="card text-center match-bg">
        <div class="card-body">
          <h1 class="card-title">Username</h1>
          <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
          <p class="card-text mb-5 fs-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>   
</div>
<div class="container-fluid border border-primary border-2">
    <div class="ps-5">
        <h1>hello world</h1>
    </div>
</div>
