.pfp-img {
    width: 100%; 
    max-width: 150px; 
    height: auto; 
    aspect-ratio: 1/1; 
    object-fit: cover;
}

.fluid-img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.postion-right-corner{
    position: relative;
    top: 50%;
    left: 80%;

}
.match-bg{
    background-color: #E3E0DE;
    border: none;
}

.bg-test{
    background-color: #d3cfcc;
}

.img-resize > img{
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.horizontal-scroll::-webkit-scrollbar {
    width: 1em;
    height: .75em;
}
  
.horizontal-scroll::-webkit-scrollbar-track {
    background: hsl(24, 8%, 88%);
    border-radius: 100vw;
    margin-block: 0.5em;
}
  
.horizontal-scroll::-webkit-scrollbar-thumb {
    background: hsl(22, 8%, 72%);
    border-radius: 100vw;
}
  
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: hsl(22, 8%, 60%);
}
