<div *ngIf="!isLoaded" class="container align-items-center justify-content-center d-flex m-5">
    <div class="spinner-border spinner-border-xl" aria-hidden="true"></div>
</div>
<div *ngIf="isLoaded" class="container mt-4 align-items-center">
  <div class="card text-center match-bg">
    <img src="/assets/img/pfp.webp" alt="profile picture" class="card-img-top pfp-img d-flex align-items-center mx-auto" loading="lazy">
    <div class="card-body">
      <h1 class="card-title text-capitalize">{{userProfile.userName}}</h1>
      <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
      <p class="card-text mb-5 fs-4">{{userProfile.bio}}</p>
      <!-- Button trigger modal -->
      <button class="btn btn-primary position-absolute top-0 end-0 me-3 px-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
    </div>
  </div>
</div>
<div *ngIf="isLoaded" class="container-fluid bg-test">
  <div class="container-fluid ps-5 pe-5 pt-3">
  <!-- This is the scrolling bar Favorite Coffee Shops -->
    <h1 class="mb-2">Favorite Coffee Shops</h1>
    <div class="card text-center ps-3 pe-3 pt-3 pb-1">
      <div class="row row-cols-3 gx-3 d-flex flex-nowrap overflow-auto horizontal-scroll">
        <div class="col" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <div class="card mb-1">
            <img src="/assets/img/home/home1.jpg"  loading="lazy" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Post Title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4 d-flex align-items-center">
      <div class="row mb-5">
        <div class="col">
          <h1 class="ps-2">
            Blogs
          </h1>
          <div class="container">
            <div class="card">
              <ul class="list-group list-group-flush border-0">
                <li *ngFor="let blog of [1,2,3,4]" class="list-group-item">
                  <div class="card mb-2 mt-2">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets\img\home\home2.jpg"  loading="lazy" class="img-fluid h-100 rounded-start img-resize" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Blog title</h5>
                          <!-- <p class="card-text">Should this be like a summary of the blog? or should i just not include it?</p> -->
                          <p class="card-text"><small class="text-body-secondary">Date Written</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <h1 class="ps-2">
            Favorite Drinks
          </h1>
          <div class="container">
            <div class="card">
              <ul class="list-group list-group-flush border-0">
                <li *ngFor="let blog of [1,2,3,4]" class="list-group-item">
                  <div class="card mb-2 mt-2">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="\assets\img\home\home3.jpg" class="img-fluid h-100 rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Camp Mocha</h5>
                            <h6 class="card-subtitle text-body-secondary fst-italic ps-1">From Camp Coffee</h6>
                            <p class="card-text fst-italic fw-lighter ps-1">101 N Cleveland St, Oceanside, CA 92054</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Storage</h1>
        <label for="fileUpload">Choose a File</label>
        <input id="fileUpload" type="file" #upload>
        <button (click)="uploadFile(upload)">Upload</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Of Modal -->