.flanked-text {
    display: flex;
    align-items: center;
}

.line {
    flex: 1;
    height: 2px; /* height of the line */
    background-color: lightgray; /* color of the line */
    margin: 0 10px; /* spacing between the line and the text */
}
    
.ltext {
    color: gray;
}
    