<!-- FILEPATH: /c:/Users/SageForest/Desktop/Workspace/WebDev/coffee-realm-remake/src/app/login-register/login/login.component.html -->
<!-- BEGIN: abpxx6d04wxr -->
<!-- <div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <p>
                Auth!
                <code>{{ (user | async)?.uid }}</code>
                <button (click)="login()" *ngIf="showLoginButton">Log in with Google</button>
                <button (click)="authService.signInAnonymously()" *ngIf="showLoginButton">Log in anonymously</button>
                <button (click)="authService.logout()" *ngIf="showLogoutButton">Log out</button>
                <button (click)="getUser()">getUSer</button>
            </p>
        </div>
    </div>
</div> -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h3 class="card-title text-center mt-2 mb-3">Login</h3>
                    <button type="button" class="btn btn-light mb-3">
                        <div class="container d-flex align-items-center justify-content-center">
                            <img src="../../../assets/img/logos/googleLogo.png" alt="google" class="img-fluid" width="20" height="20">
                            <span class="text-dark" style="padding-left: 8px;">Sign in with Google</span>
                        </div>    
                    </button>
                    <hr>
                    <figcaption class="mb-2"> or Sign in with Email</figcaption> 
                    <hr>
                    <div class="flanked-text">
                        <span class="line"></span>
                        <span class="ltext">This is the text</span>
                        <span class="line"></span>
                    </div>
                    
                    <div class="container">
                        <form [formGroup]="loginForm" (submit)="tempLogin()">
                            <div class="text-start">
                                <label class="ms-1 fw-bold" for="email">Email:</label>
                                <input type="text" id="email" class="form-control" formControlName="email" aria-describedby="emailHelpBlock"
                                    [ngClass]="{
                                            'mb-3':loginForm.get('email')?.valid || loginForm.get('email')?.pristine,
                                            'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.dirty 
                                        }">
                                <div id="emailHelpBlock" *ngIf="loginForm?.get('email')?.invalid && loginForm.get('email')?.dirty" class="form-text">Please Enter A Valid Email Address.</div>
                            </div>
                            <div class="text-start mb-3">
                                <label class="ms-1 fw-bold" for="password">Password:</label>
                                <input type="password" id="password" class="form-control" formControlName="password" aria-describedby="emailHelpBlock"
                                [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.dirty }">
                            </div>
                            <div class="d-grid">
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <small>Don't have an account? <a href="#">Sign up</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

