.pfp-image{
    inline-size: 10%;
    aspect-ratio: 16/ 9;
    object-fit: fill;
    overflow: hidden;
}
.card-color {
    background-color: #E3E0DE;
    border: none;
}

.fluid-img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    @media screen and (min-width: 1200px) {
        inline-size: 55%;
    }
}