<div class="container-fluid">
    <h1 class="display-2 fw-bold">
        10 Things I Learned From trying to brew the perfect cup of coffee
    </h1>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://via.placeholder.com/150" alt="Blog Post Creater Avatar Image" class="img-fluid avatar__image">
            </div>
            <div class="col">
            <div class="card-block px-2">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Description</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
            </div>
        </div>
    </div>
    <div class="container-fluid align-items-center">
        <img src="https://via.placeholder.com/150" alt="blog post header" class=" img-fluid">
        <p class="lead">
            Lorem ipsum dolo sit amet, consectetur adipiscing elit. Nulla nec nisi vitae nunc tincidunt aliquam. Donec nulla
            odio, aliquam euismod nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec
            euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc
            vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam
            aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc.
            Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod,
            nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae,
            aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet
            nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc. Donec
            euismod, nunc vitae, aliquam aliquet nunc. Donec euismod, nunc vitae, aliquam aliquet nunc.
        </p>    
    </div>
</div>