/* BOX DIAGRAM
+--------------------------------------------------+
|                      Margin                      |
|  +--------------------------------------------+  |
|  |                    Border                  |  |
|  |  +--------------------------------------+  |  |
|  |  |                Padding               |  |  |
|  |  |  +--------------------------------+  |  |  |
|  |  |  |           Content              |  |  |  |
|  |  |  +--------------------------------+  |  |  |
|  |  +--------------------------------------+  |  |
|  +--------------------------------------------+  |
+--------------------------------------------------+ 
*/
/*
In the CSS box model:
    The Content: box is where your content, such as text, images, or other media, is displayed.
    The Padding: box surrounds the content box. Padding is the space between the content and the border. It’s transparent.
    The Border: box wraps the padding and content. It extends the padding box to include the border thickness.
    The Margin: box is outside the border. It’s the space around the element. It’s also transparent.
*/
/* We want that smooth scrolling affect between our pages */
html{
    scroll-behavior: smooth;
}

.row-container {
  width: 100%;
}

.my-container{
  @media screen and (min-width: 1200px) {
    height: calc(100vh - 87px); 
    width: auto;
  }
}

/* We are going to have to do some media query so that are mobile veiorsion does not
have the awkward space whitespace between pages */

.cr-hp-1-viewspace{
  height: calc(100vh - 63px);/* Subtract the height of the navbar from the maximum viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.container__custom__center__100vh {
  height: 100vh;/* Subtract the height of the navbar from the maximum viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-direction: column;
}
.container__custom__center__100 {
  height: 100%;/* Subtract the height of the navbar from the maximum viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-direction: column;
}

.logo__container {
  /* margin-top: -60px; */
  display: flex;
}
.container__custom {
  padding-left: 20px;
}


.img__round__corners{
  border: 2px solid white;
  border-radius: 20px;
}
.cr-home-img-01-style2{
  transform: scale(1.1);
}

.cr-home-card-style{
  background-color: #E3E0DE;
  border-radius: 15px;
  border: transparent;
}

.cr-home-card-01-subtitle-style{
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.cr-home-btn-color{
  background-color: #2C3337;
}


.border-test{
  border: 3px solid red;
}
.border-test2{
  border: 8px solid blue;
}
.border-test3{
  border: 5px solid green;
}
.border-test4{
  border: 5px solid yellow;
}

.test01{
  height: auto;
  width: auto;
  border: 3px solid gray;
}

.test02{
  display: flex;
  justify-content: center;
  align-items: center;

}



