<!-- container-fluid makes our box wider for our diagram  -->
<!-- <div class="container-fluid">  
    <div class="row home-row">
        <div class="col-6 home-col-1">
            <div class="card text-left">
                <div class="card-body">
                    <h1 class="card-title display-1 home-card-title">Lets Get Your Day Started With Coffee!!</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary home-card-subtitle">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
                    <a class="btn btn-lg btn-secondary home-btn-search" routerLink="coffeeSearch">Discover Now</a>
                </div>
            </div>                    
        </div>
        <div class="col-6 home-col-2">
            <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid mt-3 home-photo-1">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="assets\img\home\home2.jpg" alt="photo of coffee" class="img-fluid mt-3 home-photo-1">
        </div>
        <div class="col-6">
            <div class="card home-card-2">
                <div class="card-body">
                    <h1 class="card-title display-5 home-card-title">Find Hidden Gems</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary home-card-subtitle">CoffeeRealm helps you uncover hidden gem coffee shops that you may have never discovered otherwise. Expand your coffee horizons!</h5>
                </div>
            </div>                    
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card home-card-2">
                <div class="card-body">
                    <h1 class="card-title display-5 home-card-title">Share your experiences</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary home-card-subtitle">Share your coffee experiences and help others find their new favorite spot. With CoffeeRealm, your opinion matters.</h5>
                </div>
            </div>                    
        </div>
        <div class="col-6">
            <img src="assets\img\home\home3.jpg" alt="photo of coffee" class="img-fluid mt-3 home-photo-1">
        </div>
    </div>
</div> -->

<!-- <div class="container h-100">  
    <div class="row ">
        <div class="col-6">
            <div class="card text-left">
                <div class="card-body">
                    <h1 class="card-title display-1 ">Lets Get Your Day Started With Coffee!!</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
                    <a class="btn btn-lg btn-secondary" routerLink="coffeeSearch">Discover Now</a>
                </div>
            </div>                    
        </div>
        <div class="col-6">
            <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid mt-3">
        </div>
    </div>
</div>
<div class="container">
    <div class="row h-100">
        <div class="col-6">
            <img src="assets\img\home\home2.jpg" alt="photo of coffee" class="img-fluid mt-3">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title display-5">Find Hidden Gems</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary">CoffeeRealm helps you uncover hidden gem coffee shops that you may have never discovered otherwise. Expand your coffee horizons!</h5>
                </div>
            </div>                    
        </div>
    </div>
</div> -->
<!-- Homepage Part One AKA Row 1 -->
<!-- <div class="container-fluid cr-hp-1-viewspace d-flex justify-content-center align-items-center">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12 cr-home-r1-c1-style">
        <div class="card cr-home-card-style text-left">
            <div class="card-body col-md-6 col-sm-12">
                <h1 class="card-title display-1 cr-home-card-title-style mb-3 mb-sm-0">Lets Get Your Day Started With Coffee!!</h1>
                <h5 class="card-subtitle mb-2 text-body-secondary cr-home-card-subtitle-style">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
                <a class="btn btn-lg btn-secondary cr-home-btn-search-style" routerLink="coffeeSearch">Discover Now</a>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
        <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid mt-3 cr-home-img-01-style">
      </div>
    </div>
</div>  -->
<!-- <div class="container-fluid cr-hp-1-viewspace d-flex justify-content-center align-items-center"> -->
<!-- <div class="container-fluid d-flex cr-hp-1-viewspace justify-content-center align-items-center">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="card cr-home-r1c1-card-style text-left">
          <div class="card-body">
            <h1 class="card-title display-1 cr-title-bold">Lets Get Your Day Started With Coffee!!</h1>
            <h5 class="card-subtitle text-body-secondary cr-home-card-subtitle-style">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
            <a class="btn btn-lg btn-secondary cr-home-btn-search-style" routerLink="coffeeSearch">Discover Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid cr-home-img-01-style">
      </div>
    </div>
  </div> -->
  <!-- <div class="container-fluid cr-hp-1-viewspace align-items-center">
    <div class="row align-items-center d-flex r1-style border-test ">
      <div class="col-lg-6 col-md-auto">
        <div class="card cr-home-r1c1-card-style text-left ">
          <div class="card-body">
            <h1 class="card-title display-1 cr-title-bold border-test">Lets Get Your Day Started With Coffee!!</h1>
            <h5 class="card-subtitle text-body-secondary cr-home-card-subtitle-style">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
            <a class="btn btn-lg btn-secondary cr-home-btn-search-style" routerLink="coffeeSearch">Discover Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-auto">
        <div class="continer border-test">
            <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid cr-home-img-01-style">
        </div>
        </div>
    </div>
  </div> -->
  <!-- <div class="container-fluid cr-hp-1-viewspace align-items-center">
    <div class="row d-flex r1-style border-test h-100 align-items-center">
      <div class="col-lg-6 col-md-12 col-border">
        <div class="card cr-home-r1c1-card-style text-left">
          <div class="card-body">
            <h1 class="card-title display-1 cr-title-bold border-test">Lets Get Your Day Started With Coffee!!</h1>
            <h5 class="card-subtitle text-body-secondary cr-home-card-subtitle-style">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
            <a class="btn btn-lg btn-secondary cr-home-btn-search-style" routerLink="coffeeSearch">Discover Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 col-border">
        <div class="continer border-test"> -->
          <!-- <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid cr-home-img-01-style h-100"> -->
            <!-- <h1 class="display-1">yellow</h1>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="container-fluid cr-hp-1-viewspace align-items-center">
    <div class="row d-flex r1-style border-test h-100 align-items-center">
      <div class="col-lg-6 col-md-12 col-border">
            <h1 class="display-1 cr-title-bold border-test">Lets Get Your Day Started With Coffee!!</h1>
            <h1 class="display-1 cr-title-bold border-test">test</h1>
          </div>
      <div class="col-lg col-md-12 col-border">
        <div class="continer border-test">
          <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid cr-home-img-01-style h-100">
        </div>
      </div>
    </div>
    </div> -->

<!-- <div class="container-fluid cr-hp-1-viewspace align-items-center">
    <div class="row d-flex r1-style h-100 align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="container">
                <h1 class="display-1">hello</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">    
          <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid cr-home-img-01-style h-100">
        </div>
    </div>
</div> -->
<!-- <div class="container-fluid cr-hp-1-viewspace border-test">
    <div class="row d-flex border-test h-100">
      <div class="col-lg-6 col-md-12">
        <div class="card text-left">
          <div class="card-body">
            <h1 class="card-title display-1">Lets Get Your Day Started With Coffee!!</h1>
            <h5 class="card-subtitle text-body-secondary">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
            <a class="btn btn-lg btn-secondary cr-home-btn-search-style" routerLink="coffeeSearch">Discover Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="container h1">
          <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid cr-home-img-01-style">
        </div>
      </div>
    </div>
</div> -->
<!-- <div class="container-fluid vh-100 border-test justify-content-center">
   <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6 col-md-12">
      <img src="assets\img\home\home2.jpg" alt="photo of people in a coffee shop" class="img-fluid">
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title display-5">Find Hidden Gems</h1>
          <h5 class="card-subtitle text-body-secondary">CoffeeRealm helps you uncover hidden gem coffee shops that you may have never discovered otherwise. Expand your coffee horizons!</h5>
        </div>
      </div>
    </div>
   </div>
</div> -->
<!-- <div class="container-fluid cr-hp-1-viewspace border-test">
  <h1 class="display-1">hello world</h1>
  <div class="row justify-content-center border-test2">
    <div class="col-md-6 col-sm-12 border-test3">
      <div class="card text-left">
        <div class="card-body">
          <div class="card-title">
            hello
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 border-test4">
      <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid">
    </div>
  </div>
</div> -->
<!-- <div class="container-fluid vh-100 border-test">
  <div class="row h-100 align-items-center border-test">
    <div class="col-md-6 col-sm-12 border-test2">
      <div class="card text-left">
        <div class="card-body">
          <h1 class="card-title display-1">
            <span class="display-1 cr-title-bold">Lets Get Your Day Started With Coffee!!</span>
          </h1>
        </div>
        <div class="card-subtitle">
          <span class="display-5">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 border-test3 d-flex justify-content-center align-items-center">
      <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-test">
    </div>
  </div>
</div> -->

<!-- <div class="cr-hp-1-viewspace">
  <div class="container-fluid">
    <div class="row border-test2">
      <div class="col-lg-6 col-md-12 border-test3">
        <div class="row-01-center">
          <div class="card cr-home-card-style">
            <div class="card-body text-left">
              <h1 class="card-title display-1"> Lets Get Your Day Started With Coffee!!!</h1>
              <h5 class="card-subtitle text-body-secondary cr-home-card-01-subtitle-style">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
              <a class="btn btn-lg btn-secondary cr-home-btn-color" routerLink="coffeeSearch">Discover Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 border-test3">
        <div class="row-01-center">
          <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="cr-home-img-01-style border-test3">
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- What I've learned since the utube video tutorial Attempt01 -->
<div class="cr-hp-1-viewspace">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card text-center cr-home-card-style">
          <div class="card-body">
            <div class="card-title">
              <h1 class="card-title display-1 fw-bold"> Lets Get Your Day Started With Coffee!!!</h1>
              <h5 class="card-subtitle text-body-secondary mt-3 mb-3">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
              <a class="btn btn-lg btn-secondary cr-home-btn-color" routerLink="coffeeSearch">Discover Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <img src="assets\img\home\home1.jpg" alt="photo of a coffee shop with lively energy" class="img-fluid">
      </div>
    </div>
  </div>
</div>