<div class="container-fluid">  <!-- container-fluid makes our box wider for our diagram  -->
    <div class="row home-row">
        <div class="col-6 home-col-1">
            <div class="card text-left">
                <div class="card-body">
                    <h1 class="card-title display-1 home-card-title">Lets Get Your Day Started With Coffee!!</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary home-card-subtitle">Explore and review coffee shops in your area with CoffeeRealm, the ultimate coffee lover's guide.</h5>
                    <a class="btn btn-lg btn-secondary home-btn-search" routerLink="coffeeSearch">Search Now</a>
                </div>
            </div>                    
        </div>
        <div class="col-6 home-col-2">
            <img src="assets\img\home\home1.jpg" alt="photo of coffee" class="img-fluid mt-3 home-photo-1">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="assets\img\home\home2.jpg" alt="photo of coffee" class="img-fluid mt-3 home-photo-1">
        </div>
        <div class="col-6">
            <div class="card home-card-2">
                <div class="card-body">
                    <h1 class="card-title display-5 home-card-title">Find Hidden Gems</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary home-card-subtitle">CoffeeRealm helps you uncover hidden gem coffee shops that you may have never discovered otherwise. Expand your coffee horizons!</h5>
                </div>
            </div>                    
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card home-card-2">
                <div class="card-body">
                    <h1 class="card-title display-5 home-card-title">Share your experiences</h1>
                    <h5 class="card-subtitle mb-2 text-body-secondary home-card-subtitle">Share your coffee experiences and help others find their new favorite spot. With CoffeeRealm, your opinion matters.</h5>
                </div>
            </div>                    
        </div>
        <div class="col-6">
            <img src="assets\img\home\home3.jpg" alt="photo of coffee" class="img-fluid mt-3 home-photo-1">
        </div>

    </div>
</div>

      