<div class="container__100h__navbar border-test">
    <div class="row">
        <div class="col-12 col-lg-6 text-left">
            <h1 class="display-1 fw-bold">
                Coffee Shop Name  
            </h1>
            <h3>
                Coffee Shop Address
            </h3>
            <h3>
                Coffee Shop Phone Number
            </h3>
            <h3>
                www.CoffeeShopWebsite.com
            </h3>
        <div class="col-12 col-lg-6 border-test">
            <div class="row">
                <div class="col-12 h-100">
                    <div class="container">
                        <img src="assets\img\home\home3.jpg" alt="just atest" class="img-fluid h-50 ">
                    </div>
                    <div class="container">
                        <img src="assets\img\home\home3.jpg" alt="just atest" class="img-fluid h-50">
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
 