<!-- <div class="container__100h__navbar border-test"> -->
<div class="container-fluid">
    <div class="row d-flex mt-4">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <div class="details-card-container">
                <div class="card">
                    <figure>
                    <img [src]="shopLocation?.imageUrl" class="card-img-top shop-details-photo" alt='image of a coffee shop'>
                    </figure>
                    <div class="card-body">
                    <h2 class="card-title">{{shopLocation?.name}}</h2>
                    <p class="card-text">{{shopLocation?.address}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mx-auto">
            <google-map
                [center]="location">
                <map-marker
                    [position]="location"/>
            </google-map>
        </div>
    </div>
</div>
 