 <!-- 
  This is the div the contains the map class we pass to initMap();
  we declare it outside of the apiloader because we need to access
  the map object if we dont have access to it it will return an error
-->
 <div id="map"></div> 

 <!-- 
  This is part of the website to work it makes sure that 
  the google maps api is loaded before it tries to load the map
  or any other libraries that are needed. In our case we are
  loading the google maps places library.
  !GOOGLE WILL NOT BE DEFINED IF THE API IS NOT LOADED!
-->
<!-- <div *ngIf="apiLoaded | async">
  <div *ngIf="display">
    <div class="container grid-container">
      <div class="row">
        <app-shop-location *ngFor="let shopLocation of shopLocationList" [shopLocation]="shopLocation"  class="col"></app-shop-location>
      </div>
    </div>
  </div>  
</div> -->

<div *ngIf="display">
    <div class="container-fluid">
      <div class="row row-cols-3 gy-3 mt-2 mb-2 d-flex justify-content-center align-items-center">
        <app-shop-location *ngFor="let shopLocation of shopLocationList" [shopLocation]="shopLocation"  class="col"></app-shop-location>
        <!-- <div *ngFor="let shopLocation of shopLocationList" class="col">
          <div class="card-container">
            <div class="card">
              <figure>
                <img [src]="shopLocation.imageUrl" class=" img-fluid card-img-top" alt='image of a coffee shop'>
              </figure>
              <div class="card-body">
                <h5 class="card-title">{{shopLocation.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a [routerLink]="['/details', shopLocation.placeId]" class="btn btn-primary opacity-100">Learn More</a>
              </div>
            </div>
          </div>          
        </div> -->
      </div>
    </div>
</div>

